.logo__link {
  display: block;
  width: 80px;
  height: 65.7px;

  //background: url('../../assets/images/logo.png');
  background-size: contain;

  text-indent: -999em;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}