$font-family-source-sans-pro: 'Source Sans Pro', sans-serif;

/* 
 * Customize Bootstrap
*/

// Body
$body-bg: #fff;
$body-color: #111;

// Typography
$font-family-base: $font-family-source-sans-pro;

// Grid
$grid-columns: 12;
$grid-gutter-width: 64px;